<html>
    <body>
        <strong>Dear {{customer.first_name}} {{customer.last_name}}</strong>,<br />
        We are emailing you to acknowledge the submission of your registration form for the AILBS International Conference 2019 being held at New Delhi, between 15th to 17th February 2019.
        <br /><br />
        In case you have not made the payment for the event, you can do so by <a href="https://www.goeventz.com/event/ailbs-international-conference/79604">clicking here</a>.

        <br /><br />
        Regards,<br />
        Organizing Committee, AILBS India Conference<br />
        Fortis Hospital, Sector - 62, Gautum Budh Nagar, Noida, Uttar Pradesh, - 201301<br />
        Conference Secretary: Dr. Nupur | Phone: +91-8130409193 and Ms. Vaani Aggarwal | Phone: +91-9810102257<br />
        Travel Desk : Ms. Jahnavi Sharma | Phone: +91-9999095608        
    </body>
</html>