{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Register for AILBS Conference{% endblock title %}


{% block content %}
<section class="banner inner_banner" style="background-image: url('../../static/img/banner/banner_slide_02.jpg')"></section><!--//END Banner --><!--//END Banner -->
<div class="breadcrumb_main">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "web:index" %}">Home</a></li>
            <li class="breadcrumb-item active">Registration for AILBS International Conference</li>
        </ol>
    </div>
</div>

<section class="content_area">
        <div class="container">
            <div class="main_heading center clearfix">
                <h2>Registration form for the AILBS Conference</h2>
            </div>            
            <form name="registration-form" action="{% url "registration:index" %}" method="post">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-3">
                            {{field.label}}<br />
                            {% render_field field|add_class:"form-control" %}
                        </div>
                    {% endfor %}
                </div><br />
                <p style="font-style:italic; font-size:13px; font-weight:100;">After clicking on register now, you will be redirected to your secure payment gateway powered by Instamojo, where you can pay your registration fee by the following methods: Credit Card, Debit Card, Net Banking, Digital Wallets, UPI and NEFT. Please refer to the table below for information on detailed registration fees.</p>
                <input type="submit" class="btn btn-success" value="Register Now and Proceed to Payment Gateway" />
            </form>
            <br /> 
            <div class="table_info">
                <div class="media-body">
                    <p><i>Registration for Anesthesia session is compulsory. Registration fees can also be paid offline, by direct cash deposit or NEFT/RTGS/IMPS or Cheque/DD deposit to our bank account, mentioned below. Please email us at ailbs2019conference@gmail.com if doing payment by offline means, so that we are able to verify and process ontime.
                        </i></p>
                    <p><b>Beneficiary Name</b>: Healthy Liver Trust | <b>IFSC</b>: HDFC0004403 | <b>Account Number</b>: 50200031351959 | <b>Bank Name</b>: HDFC Bank | <b>Branch</b>: Maharani Bagh | <b>Branch Code</b>: 4403</p>
                </div>
            </div>             
        </div>
    </section>


    <section class="content_area">
        <div class="container">
            <div class="main_heading center clearfix">
                <h2>Registration form for Anesthesia Sessions</h2>
            </div>            
            <form name="registration-form" action="{% url "registration:index" %}" method="post">
                {% csrf_token %}
                <div class="row">
                    {% for field in anesform %}
                        <div class="col-md-3">
                            {{field.label}}<br />
                            {% render_field field|add_class:"form-control" %}
                        </div>
                    {% endfor %}
                </div><br />
                <!-- <p style="font-style:italic; font-size:13px; font-weight:100;">After clicking on register now, you will be redirected to your secure payment gateway powered by Instamojo, where you can pay your registration fee by the following methods: Credit Card, Debit Card, Net Banking, Digital Wallets, UPI and NEFT. Please refer to the table below for information on detailed registration fees.</p> -->
                <input type="submit" class="btn btn-success" value="Register Now" />
            </form>
            <br />                          
        </div>
    </section>

    <section id="section6" class="content">
            <div class="container">
        
                <div class="main_heading center clearfix">
                    <h2>Registration Fees</h2>
                </div>
        
                <div class="reg_main">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <!-- <thead>
                            <tr>
                                <td>
                                    Registration
                                     Type
                                </td>
                                <td style="text-align: center;">
                                Early Bird<br />Before
                                     31st December 2018
                                </td>
                                <td style="text-align: center;">
                                Regular<br />From 1st January 2019 to
                                     14th February 2019 
                                </td>
                                <td>
                                Spot
                                </td>
                            </tr>
                            </thead> -->
                            <tbody>
                            <tr style="background-color:teal; color:white; font-weight: bold;">
                                <td style="text-align: center;"><b>Main Conference + Workshop</b></td>
                                <td style="text-align: center;">
                                Early Bird<br />Before
                                        31st December 2018
                                </td>
                                <td style="text-align: center;">
                                Regular<br />From 1st January 2019 to
                                        14th February 2019 
                                </td>
                                <td style="text-align: center;">
                                Spot
                                </td>
                            </tr>
                            <tr>
                                <td>Delegate</td>
                                <td>Rs. 12.000</td>
                                <td>Rs. 15,000</td>
                                <td>Rs. 20,000</td>
                            </tr>
                            <tr>
                                <td>Trainee*</td>
                                <td>Rs. 8,000</td>
                                <td>Rs. 10,000</td>
                                <td>Rs. 12,000</td>
                            </tr>
                            <tr style="background-color:teal; color:white; font-weight: bold;">
                                <td style="text-align: center;"><b>Workshop Only</b></td>
                                <td style="text-align: center;">
                                Early Bird<br />Before
                                        31st December 2018
                                </td>
                                <td style="text-align: center;">
                                Regular<br />From 1st January 2019 to
                                        14th February 2019 
                                </td>
                                <td style="text-align: center;">
                                Spot
                                </td>
                            </tr>
                            <tr>
                                <td>Delegate</td>
                                <td>Rs. 8,000</td>
                                <td>Rs. 10,000</td>
                                <td>Rs. 12,000</td>
                            </tr>
                            <tr>
                                <td>Trainee*</td>
                                <td>Rs. 6,000</td>
                                <td>Rs. 8,000</td>
                                <td>Rs. 10,000</td>
                            </tr>
                            <tr style="background-color:teal; color:white; font-weight: bold;">
                                <td style="text-align: center;"><b>Main Conference Only</b></td>
                                <td style="text-align: center;">
                                Early Bird<br />Before
                                        31st December 2018
                                </td>
                                <td style="text-align: center;">
                                Regular<br />From 1st January 2019 to
                                        14th February 2019 
                                </td>
                                <td style="text-align: center;">
                                Spot
                                </td>
                            </tr>
                            <tr>
                                <td>Delegate (National)</td>
                                <td>Rs. 6,000</td>
                                <td>Rs. 8,000</td>
                                <td>Rs. 10,000</td>
                            </tr>
                            <tr>
                                <td>Accompanying Person (National)</td>
                                <td>Rs. 4,000</td>
                                <td>Rs. 6,000</td>
                                <td>Rs. 8,000</td>
                            </tr>
                            <tr>
                                <td>Trainee (National)*</td>
                                <td>Rs. 4,000</td>
                                <td>Rs. 6,000</td>
                                <td>Rs. 8,000</td>
                            </tr>
                            <tr>
                                <td>Delegate (International)</td>
                                <td>$ 150</td>
                                <td>$ 200</td>
                                <td>$ 250</td>
                            </tr>
                            <tr>
                                <td>Accompnaying Person (International)</td>
                                <td>$ 75</td>
                                <td>$ 100</td>
                                <td>$ 125</td>
                            </tr>
                            <tr>
                                <td>Trainee (International)</td>
                                <td>$ 75</td>
                                <td>$ 100</td>
                                <td>$ 125</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="table_info">
                        <div class="media-body">
                            <p><i>* Registration for Anesthesia sessions's are complimentary. For Trainees either National/International (Fellow/Residents/Students etc.) a certificate of their trainee status is required from Head/Chairperson of the department.
                                </i></p>
                            <p><i>*All Fees are inclusive of GST</i></p>
                        </div>
                    </div>        
                    <br>   
                                                       
                </div>
            </div>
        </section><!--//END Registration -->

{% endblock content %}