.theme-title{
    background-color:teal;
    color: yellow;
    text-align: center;
    width: 100%;
    padding:25px;
    font-size: 2em;
    font-weight: bolder;
}

.marquee{
    animation: marquee 5s linear infinite;

}

.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.marquee-image{
    max-height:100px;
}

.conf-image{
    margin-top: -110px;
}

.normal{
    color:black;
}
.blue{
    background-color: #2874A6;
    color:white; 
}