.theme-title{
    background-color:teal;
    color: yellow;
    text-align: center;
    width: 100%;
    padding:25px;
    font-size: 2em;
    font-weight: bolder;
}

.conf-image{
    margin-top: -110px;
}