{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Daily Program{% endblock title %}

{% block content %}
<section class="banner inner_banner" style="background-image: url('../../static/img/banner/banner_slide_02.jpg')"></section>
<!--//END Banner -->
<!--//END Banner -->
<div class="breadcrumb_main">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "web:index" %}">Home</a></li>
            <li class="breadcrumb-item active">Daily Program</li>
        </ol>
    </div>
</div>

<section class="content_area">
    <div class="container">
        <div class="main_heading clearfix">
            <h2>Daily Program</h2>
        </div>
        <div class="row" style="margin-top:-150px;">
            <div class="col-md-12">
                <div class="coordinator_main">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#15f">15th February 2019</a></li>
                        <li><a data-toggle="tab" href="#16f">16th February 2019</a></li>
                        <li><a data-toggle="tab" href="#17f">17th February 2019</a></li>
                        <li><a data-toggle="tab" href="#172f">Parellel session on Anesthesia and Critical Care on
                                17thFebruary 2019</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="15f" class="tab-pane fade in active">
                            <div class="col-md-10" style="text-align: center; margin-left:80px;">
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#2874A6; color:white; font-weight: bold;">
                                                <td style="text-align: center;">15th February<br />Kamal Hall, ITC
                                                    Maurya</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#2874A6; color:white; font-weight: bold;">
                                                <td width="15%">Time</td>
                                                <td width="35%">Title</td>
                                                <td width="15%">Speaker</td>
                                                <td width="35%">Chair/Panel</td>
                                            </tr>
                                            {% for each in a1 %}
                                            {% if each.single %}
                                                <tr style="background-color:#2874A6; color:white;">
                                                    <td colspan="1"><strong>{{each.time_range}}</strong></td>
                                                    <td colspan="3"><strong>{{each.title}}</strong>
                                                </tr>
                                            {% else %}
                                            {% if each.time_range %}
                                            <tr style="background-color:#2874A6; color:white;">{% else %}<tr>{% endif %}
                                                <td><strong>{{each.time_range}}</strong></td>
                                                <td><strong>{{each.title}}</strong></td>
                                                <td><strong>{{each.speaker}}</strong></td>
                                                <td><strong>{{each.description}}</strong></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}                                        
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="16f" class="tab-pane">
                            <div class="col-md-10" style="text-align: center; margin-left:80px;">
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#EC7063; color:white; font-weight: bold;">
                                                <td style="text-align: center;">16th February<br />Shahjahan Hall, Taj
                                                    Palace</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#EC7063; color:white; font-weight: bold;">
                                                <td>Time</td>
                                                <td>Title</td>
                                                <td>Speaker</td>
                                                <td>Chair/Panel</td>
                                            </tr>
                                            {% for each in a1 %}
                                            {% if each.single %}
                                                <tr style="background-color:#2874A6; color:white;">
                                                    <td colspan="1"><strong>{{each.time_range}}</strong></td>
                                                    <td colspan="3"><strong>{{each.title}}</strong>
                                                </tr>
                                            {% else %}
                                            {% if each.time_range %}
                                            <tr style="background-color:#2874A6; color:white;">{% else %}<tr>{% endif %}
                                                <td><strong>{{each.time_range}}</strong></td>
                                                <td><strong>{{each.title}}</strong></td>
                                                <td><strong>{{each.speaker}}</strong></td>
                                                <td><strong>{{each.description}}</strong></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="17f" class="tab-pane">
                            <div class="col-md-10" style="text-align: center; margin-left:80px;">
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#5D6D7E; color:white; font-weight: bold;">
                                                <td style="text-align: center;">17th February<br />Shahjahan Hall, Taj
                                                    Palace</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#5D6D7E; color:white; font-weight: bold;">
                                                <td>Time</td>
                                                <td>Title</td>
                                                <td>Speaker</td>
                                                <td>Chair/Panel</td>
                                            </tr>
                                            {% for each in a1 %}
                                            {% if each.single %}
                                                <tr style="background-color:#2874A6; color:white;">
                                                    <td colspan="1"><strong>{{each.time_range}}</strong></td>
                                                    <td colspan="3"><strong>{{each.title}}</strong>
                                                </tr>
                                            {% else %}
                                            {% if each.time_range %}
                                            <tr style="background-color:#2874A6; color:white;">{% else %}<tr>{% endif %}
                                                <td><strong>{{each.time_range}}</strong></td>
                                                <td><strong>{{each.title}}</strong></td>
                                                <td><strong>{{each.speaker}}</strong></td>
                                                <td><strong>{{each.description}}</strong></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="172f" class="tab-pane">
                            <div class="col-md-10" style="text-align: center; margin-left:80px;">
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#D4AC0D; color:white; font-weight: bold;">
                                                <td style="text-align: center;">17th February<br />Parellel Session on
                                                    Anesthesia and Critical Care<br />Mumtaz Hall, Taj Palace</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr style="background-color:#D4AC0D; color:white; font-weight: bold;">
                                                <td>Time</td>
                                                <td>Title</td>
                                                <td>Speaker</td>
                                                <td>Chair/Panel</td>
                                            </tr>
                                            {% for each in a1 %}
                                            {% if each.single %}
                                                <tr style="background-color:#2874A6; color:white;">
                                                    <td colspan="1"><strong>{{each.time_range}}</strong></td>
                                                    <td colspan="3"><strong>{{each.title}}</strong>
                                                </tr>
                                            {% else %}
                                            {% if each.time_range %}
                                            <tr style="background-color:#2874A6; color:white;">{% else %}<tr>{% endif %}
                                                <td><strong>{{each.time_range}}</strong></td>
                                                <td><strong>{{each.title}}</strong></td>
                                                <td><strong>{{each.speaker}}</strong></td>
                                                <td><strong>{{each.description}}</strong></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}