{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Daily Program{% endblock title %}

{% block content %}
<section class="banner inner_banner" style="background-image: url('../../static/img/banner/banner_slide_02.jpg')"></section>
<!--//END Banner -->
<!--//END Banner -->
<div class="breadcrumb_main">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "web:index" %}">Home</a></li>
            <li class="breadcrumb-item active">Daily Program</li>
        </ol>
    </div>
</div>

<section class="content_area">
    <div class="container">
        <div class="main_heading clearfix">
            <h2>Daily Program</h2>
        </div>
        <div class="row">
            <center><div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="{% static "dp/1.jpg" %}" style="width:94%;" />
                </div>
                <div class="item">
                    <img src="{% static "dp/2.jpg" %}" style="width:94%" />
                </div>
                <div class="item">
                    <img src="{% static "dp/3.jpg" %}" style="width:94%;" />
                </div>
                <div class="item">
                    <img src="{% static "dp/4.jpg" %}" style="width:94%;" />
                </div>
                <div class="item">
                    <img src="{% static "dp/5.jpg" %}" style="width:94%;" />
                </div>
                <div class="item">
                    <img src="{% static "dp/6.jpg" %}" style="width:94%;" />
                </div>
            </div></center>
        </div>
    </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}