{% load staticfiles %}

<!-- Venue -->
<section id="section7" class="content venue" style="background-image: url('/static/img/light_bg.jpg');background-size: cover">
    <div class="container">
        <div class="main_heading center clearfix">
            <h2>Venue</h2>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-6">
                <h2>Hotel ITC Maurya</h2>
                <h4>15th February 2019</h4>
                <h5>1, Sardar Patel Marg, Diplomatic Enclave, Chanakyapuri, New Delhi, Delhi 110021</h5>
                <h5><a href="https://taj.tajhotels.com/en-in/taj-palace-new-delhi/" target="_blank">Click here for Hotel Website</a></h5>
            </div>
            <div class="col-md-6">
                <h2>Hotel Taj Palace</h2>
                <h4>16th and 17th February 2019</h4>
                <h5>2, Sardar Patel Marg, Diplomatic Enclave, Chanakyapuri, New Delhi, Delhi 110021</h5>                
                <h5><a href="https://www.itchotels.in/hotels/new-delhi/itcmaurya.html" target="_blank">Click here for Hotel Website</a></h5>
            </div>
        </div>        
    </div>
    <section id="cd-google-map">
        <div id="google-container"></div>
        <div class="map_info">
            <div class="container">
                <div class="map_address">
                    <span class="map_ico"></span>
                    <p>
                        <b>Hotel ITC Maurya and Taj Palace</b>
                        <br>Diplomatic Enclave Chanakyapuri
                        <br>New Delhi 110021 INDIA
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div id="cd-zoom-in"></div>
        <div id="cd-zoom-out"></div>
    </section>

</section>
<!--//END Venue -->

<!-- Footer -->
<footer class="footer clearfix" style="background-image: url('/static/img/light_bg.jpg');background-size: cover">    
    <div class="foot_half" style="max-width:33%;">
        <div class="foot_ad">
            <div class="location_icon"></div>
            <h2>Conference Secretariat</h2>
            <p>
                Fortis Hospital<br />Sector - 62, Gautum Budh Nagar, Noida, Uttar Pradesh, - 201301
            </p>
            <p>
                Website: <a href="http://www.ailbsindiaconference.com">www.ailbsindiaconference.com</a>
                <br> Email: <a href="mailto:ailbs2019conference@gmail.com">ailbs2019conference@gmail.com</a>
                <br />Conference Secretary: Ms. Vaani Aggarwal | Phone: +91-9810102257
                <br />Travel Desk : Ms. Jahnavi Sharma | Phone: +91-9999095608
            </p>            
        </div>
    </div>
    <div class="foot_half" style="max-width:33%;">
        <img src="{% static "img/graphic_location.jpg" %}">
    </div>
    <div class="foot_half" style="max-width:33%;">
        <div class="foot_ad">
            <!-- <div class="location_icon"></div> -->
            <h2>Event Partners</h2>
            <p>
                <a href="http://www.eventia.asia" target="_blank">Eventia - Eventful Memories for Life</a><br />
                Ms. Vaani Aggarwal | Phone: +91-9810102257 | vaani@eventia.asia <br />
                Mr. Vikas Aggarwal | Phone: +91-9810104257 | vikas@eventia.asia
            </p>
            <h2>Ticketing Partners</h2>
            <p>
                <a href="#" target="_blank">Safarnama</a><br />
                Ms. Jahnavi Sharma | Phone: +91-9999095608 | jahnavi@safarnama.com
            </p>
            Website and mobile apps, designed-developed and managed by by <a href="http://www.delhinerds.com" target="_blank">Delhi Nerds</a>.
        </div>
    </div>
</footer>
<!--//END Footer -->