{% load staticfiles %}

<div class="main_header" id="section1">
    <div class="ticker_alert">
        <p class="ticker_alert_para">
            <span style="font-size:12px;"><a href="/pages/call-for-abstracts">Call for Abstracts. Click here for more information.</a></span>
        </p>
    </div>
    <header class="header">
        <div class="header_top">
            <div class="container">
                <div class="logo">
                    <span class="logo_icon"><a href="{% url "web:index" %}"><img src="{% static "ailbslogo.png" %}" style="width:175px; margin-top:15px; margin-bottom:15px;"></a></span>
                </div>
                <div class="logo_title_section">
                    <h2 style="color:white;">
                        AILBS International Conference 2019
                    </h2>
                    <h3 style="color:white;">15-17 February 2019 | Hotel ITC Maurya and Taj Palace, New Delhi</h3>
                </div>                
            </div>
        </div>
        <div class="header_bottom">
            <div class="container">
                <nav id="navigation1" class="navigation">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                    </div>

                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            <li class="active">
                                <a href="{% url "web:index" %}">HOME</a>
                                <ul class="nav-dropdown">
                                    <li><a href="http://www.ailbsindiaconference.com/#section2">Welcome Message</a></li>
                                    <li><a href="http://www.ailbsindiaconference.com/#section3">Organizing Committee</a></li>                                    
                                    <li><a href="http://www.ailbsindiaconference.com/#section5">Conference Highlights</a></li>
                                    <li><a href="https://www.goeventz.com/event/ailbs-international-conference/79604" target="_blank">Registration</a></li>
                                    <li><a href="http://www.ailbsindiaconference.com/#section7">Venue</a></li>
                                    <li><a href="{% url "web:interfac" %}">International Faculty</a></li>
                                    <li><a href="{% url "web:nationalfac" %}">National Faculty</a></li>
                                </ul>
                            </li>                            
                            <li>
                                <a href="#">SCIENTIFIC INFORMATION</a>
                                <ul class="nav-dropdown">                    
                                    <li><a href="/pages/workshops/">Workshops</a></li>                
                                    <li><a href="/pages/symposium/">Symposium</a></li>                                    
                                    <li><a href="/pages/scientific-program/">Scientific Program</a></li>
                                    <li><a href="{% url "web:interfac" %}">International Faculty</a></li>
                                    <li><a href="{% url "web:nationalfac" %}">National Faculty</a></li>                                    
                                </ul>
                            </li>
                            <li>
                                <a href="#">AWARDS/ ORATIONS</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/pages/ailbs-oration/">AILBS Oration</a></li>
                                    <li><a href="/pages/best-paper-award">Best Paper Award</a></li>
                                </ul>
                            </li>
                            <li><a href="/pages/call-for-abstracts">Call for Abstracts</a>         
                            </li>
                            <li>
                                <a href="{% url "registration:index" %}" target="_blank">REGISTRATION</a>                                
                            </li>
                            <li><a href="/pages/exhibitors/">EXHIBITORS</a></li>
                            <li>
                                <a href="#">ACCOMODATION</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/pages/venue">Venue</a></li>
                                    <li><a href="/pages/in-and-around">In and Around</a></li>                                    
                                </ul>
                            </li>
                            <!-- <li><a href="contact-us.html">Event Manager</a></li> -->
                            <li><a href="{% url "web:contact" %}">Contact</a></li>
                        </ul>
                    </div>

                </nav>
            </div>            
        </div>
        <div class="container theme-title">
            <div class="row">
                <div class="col-md-12">
                    Indications and Innovations In Liver Transplantation : "The Way Forward"
                </div>
            </div>            
        </div>        
    </header>    
</div>