{% load staticfiles %}

<div class="main_header" id="section1">
    <div class="ticker_alert">
        <p class="ticker_alert_para">
            <a href="https://play.google.com/store/apps/details?id=com.ailbs" target="_blank"><img src="{% static "play-store.png" %}" style="width:75px;" /></a>
            <a href="https://itunes.apple.com/gb/app/ailbs-international-conference/id1446865009?mt=8" target="_blank"><img src="{% static "iphone.png" %}" style="width: 75px;" /></a>
        </p>
    </div>
    <header class="header">
        <div class="header_top">
            <div class="container">
                <div class="logo">
                    <span class="logo_icon"><a href="{% url "web:index" %}"><img src="{% static "ailbslogo.png" %}" style="width:300px; margin-top:0px; margin-bottom:15px;"></a></span>
                </div>
                <div class="logo_title_section">
                    <h2 style="color:white;">
                        AILBS International Conference 2019
                    </h2>
                    <h3 style="color:white;">15-17 February 2019 | Hotel ITC Maurya and Taj Palace, New Delhi</h3>
                </div>
                <img src="{% static "fortis.png" %}" style="max-width:100px; margin-left:-100px; margin-top:10px;" />
                <img src="{% static "hlt.png" %}" style="max-width:102px; margin-top:15px;" />
            </div>
        </div>
        <div class="header_bottom">
            <div class="container">
                <nav id="navigation1" class="navigation">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                    </div>

                    <div class="nav-menus-wrapper" style="width:120%; margin-left:-35px;">
                        <ul class="nav-menu">
                            <li class="active">
                                <a href="{% url "web:index" %}">HOME</a>
                                <ul class="nav-dropdown">
                                    <li><a href="http://www.ailbsindiaconference.com/#section2">Welcome Message</a></li>
                                    <li><a href="http://www.ailbsindiaconference.com/#section3">Organizing Committee</a></li>                                    
                                    <li><a href="/pages/conference-highlights/">Conference Highlights</a></li>
                                    <li><a href="/registration">Registration</a></li>
                                    <li><a href="http://www.ailbsindiaconference.com/#section7">Venue</a></li>
                                    <li><a href="{% url "web:interfac" %}">International Faculty</a></li>
                                    <li><a href="{% url "web:nationalfac" %}">National Faculty</a></li>
                                </ul>
                            </li>                            
                            <li>
                                <a href="#">SCIENTIFIC INFORMATION</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/pages/conference-highlights/">Conference Highlights</a></li>
                                    <li><a href="#">Workshops</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="/pages/workshops/workshop1">Minimally Invasive Liver Surgery</a></li>
                                            <li><a href="/pages/workshops/workshop2">SALT Workshop on Rotem</a></li>
                                        </ul>
                                    
                                    </li>                
                                    <li><a href="/pages/symposium/">Symposium</a></li>                                    
                                    <li><a href="#">Scientific Program</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="{% url "web:glance" %}">Program-at-a-glance</a></li>
                                            <li><a href="{% url "web:daily-program" %}">Daily Program</a></li>
                                        </ul>                                    
                                    </li>
                                    <li><a href="{% url "web:interfac" %}">International Faculty</a></li>
                                    <li><a href="{% url "web:nationalfac" %}">National Faculty</a></li>                                    
                                </ul>
                            </li>
                            <li>
                                <a href="#">AWARDS/ ORATIONS</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/pages/ailbs-oration/">AILBS Oration</a></li>
                                    <li><a href="/pages/best-paper-award">Best Paper Award</a></li>
                                </ul>
                            </li>
                            <li><a href="/pages/call-for-abstracts">Call for Abstracts</a>         
                            </li>
                            <li><a href="/pages/government-clearances/">GOVT. CLEARANCES</a></li>
                            <li>
                                <a href="{% url "registration:index" %}">REGISTRATION</a>                                
                            </li>                            
                            <li><a href="/pages/exhibitors/">EXHIBITORS/SPONSORS</a></li>
                            <li>
                                <a href="#">MORE</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/pages/venue">Venue</a></li>
                                    <li><a href="/pages/in-and-around">In and Around</a></li>
                                    <li><a href="/pages/endorsements/">ENDORSEMENTS</a></li>
                                </ul>
                            </li>                            
                            <li><a href="{% url "web:contact" %}">Contact</a></li>
                        </ul>
                    </div>

                </nav>
            </div>            
        </div>
        <div class="container theme-title">
            <div class="row">
                <div class="col-md-12">
                    Indications and Innovations In Liver Transplantation : "The Way Forward"                    
                </div>                             
            </div>
            <div class="row" style="color:white; font-size:16px;">
                <div class="col-md-12">
                    <a href="/pages/call-for-abstracts/" style="color:white;">Call for Abstracts. Click here for more information.</a>
                </div>
            </div>        
    </header>    
</div>