{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block content %}
<section class="banner_slider">
    <div class="Modern-Slider">
        {% for each in slides %}
            <div class="item">
                <div class="img-fill">
                    <img src="{{each.image.url}}" style="max-height:600px;" alt="">
                    <div class="info">
                        <div>                                
                            {{each.content|safe}}
                            <a href="{% url "registration:index" %}" class="register_btn">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}                        
    </div>
    
    <!-- Counter -->
    <div class="banner_counter" style="padding-bottom:-20px;">
        <div class="countdown">
            <div id="timer">
                <ul>
                    <li><span class="name_cnd">Days</span><span id="days"></span></li>
                    <li><span class="name_cnd">Hours</span><span id="hours"></span></li>
                    <li><span class="name_cnd">Minutes</span><span id="minutes"></span></li>
                    <li><span class="name_cnd">Seconds</span><span id="seconds"></span></li>
                </ul>
            </div>
        </div>        
    </div><!-- //END Counter -->
</section><!--//END Banner -->

<!-- Welcome Message -->
<section id="section2" class="content welcome" style="background-color:#fff">
    <center><div class="row" style="margin-top:-65px;">
        <img src="{% static "sponsors.png" %}" class="img-responsive" style="max-width: 1200px;" /><hr />
    </div></center>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static "vivekvij.jpg" %}" />
                </div>
                <div class="col-md-8">
                    <div class="main_heading clearfix">
                            <h2>WELCOME</h2>
                        </div>
                
                        <p>Dear Colleagues,</p>
                        <p>
                            Liver transplant have recently completed successful <span style="font-size:20px; font-style: italic">50 Years</span> and currently we are in an exciting era of liver medicine, surgery, anesthesia and critical care. On this occasion, we are delighted to invite you to the <strong>"The AILBS International Conference"</strong> to be held from <strong>15-17 February, 2019, New Delhi, India.</strong> At that time of the year, the weather in New Delhi would be excellent and the venue is exquisite <strong>“ITC Maurya & The Taj Palace”</strong>, a green heaven in Diplomatic Enclave. In this conference, we will feast you on the history, innovation, latest views, practice, controversies and the way forward in liver diseases and transplantation, from thought leaders across the globe. The theme would be <strong>Indications and Innovations in Liver Transplantation: “The Way Forward”. </strong>
                        </p>
                        <p>
                            Recognizing the significant developments in laparoscopic and robotic liver surgery, the conference will be preceded by a pre-conference workshop on <strong>“Minimally Invasive Liver Surgery”.</strong> The meeting also aims to address the ongoing problem of organ donation through a pre-conference symposium on <strong>"Deceased Donor Liver Transplantation in India: Current Status". </strong>
                        </p>
                        <p>
                            The meeting aims to enable informed management options by enhancing the understanding to clinical problems related to liver diseases (Surgery, Medicine, Anesthesia and Critical Care) in Adults and Children, as key opinion leaders present updated scientific literature with their personal viewpoint. 
                        </p>
                        <p>
                            As always, it will also be a great opportunity for the younger members of the liver community to present their work and engage with expert faculty from across the world. 
                        </p>
                        <p>
                            We look forward to welcoming you to Delhi at its colorful best! 
                        </p>
                        <p>
                            Regards,<br /><strong>The AILBS Team</strong><br /><strong>Fortis Hospitals, Delhi-NCR, India</strong>
                        </p>        
                </div>
            </div>            
        </div>
    </section><!--//END Welcome Message -->

    <!-- Organizing Committee -->
<section id="section3 content coordinators" class="content dark_bg" style="background-image: url('../static/img/light_bg.jpg');background-size: cover">
    <div class="container">
        <div class="main_heading center clearfix">
            <h2>AILBS Organizing Committee</h2>
        </div>
        <div class="coordinator_main">
        <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#oc">Organizing Chairman and Secretary</a></li>
                <li><a data-toggle="tab" href="#surgery">Surgery</a></li>
                <li><a data-toggle="tab" href="#hepa">Hepatology</a></li>
                <li><a data-toggle="tab" href="#anes">Anesthesia and Critical Care</a></li>
                <li><a data-toggle="tab" href="#overseas">Overseas Advisor</a></li>
        </ul>
        <div class="tab-content">
            <div id="oc" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                            <div class="mem_sec">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="member_img">
                                            <img src="{% static "vivekvij.jpg" %}">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h2>Organizing Chairman</h2>
                                        <p>Vivek Vij</p>                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="mem_sec">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="member_img">
                                            <img src="{% static "oc/ashish.jpg" %}">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h2>Organizing Secretary</h2>
                                        <p>Ashish Singhal</p>                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="mem_sec">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="member_img">
                                            <img src="{% static "drpiyush.jpeg" %}">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h2>Anaesthesia Programme Coordinator</h2>
                                        <p>Piyush Srivastava</p>                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div id="overseas" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                                <div class="mem_sec">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="member_img">
                                                <img src="{% static "docs/simulshah.jpg" %}">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>Shimul Shah</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                    </div>
                </div>
            
            <div id="anes" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                                <div class="mem_sec">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="member_img">
                                                <img src="{% static "drpiyush.jpeg" %}">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>Piyush Srivastava</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="mem_sec">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="member_img">
                                                <img src="{% static "oc/anilaggarwal.jpg" %}">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>Anil Agarwal</h2>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                    <div class="mem_sec">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="member_img">
                                                    <img src="{% static "oc/amitjha.jpg" %}">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h2>Amit Jha</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="mem_sec">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="member_img">
                                                    <img src="{% static "oc/suvyn.jpg" %}">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h2>Suvyl Rodricks</h2>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                        <div class="mem_sec">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="member_img">
                                                        <img src="{% static "oc/tanujamallik.jpg" %}">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h2>Tanuja Malik</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                    </div>
                </div>
            <div id="hepa" class="tab-pane fade in">
                    <div class="row">                        
                            <div class="col-md-4 col-sm-6">
                                <div class="mem_sec">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="member_img">
                                                <img src="{% static "oc/mukulrastogi.jpg" %}">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>Mukul Rastogi</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            <div id="surgery" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                                <div class="mem_sec">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="member_img">
                                                <img src="{% static "vivekvij.jpg" %}">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>Vivek Vij</h2>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="mem_sec">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="member_img">
                                                <img src="{% static "oc/vishalchorasiya.jpg" %}">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h2>Vishal Chorasiya</h2>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                    <div class="mem_sec">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="member_img">
                                                    <img src="{% static "oc/ajitabh.jpg" %}">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h2>Ajitabh Srivastava</h2>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="mem_sec">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="member_img">
                                                    <img src="{% static "oc/sanjayverma.jpg" %}">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h2>Sanjay Verma</h2>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                        <div class="mem_sec">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="member_img">
                                                        <img src="{% static "oc/ashish.jpg" %}">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h2>Ashish Singhal</h2>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                            <div class="mem_sec">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="member_img">
                                                            <img src="{% static "oc/kausarmakki.jpg" %}">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h2>Kausar Makki</h2>                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                                <div class="mem_sec">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="member_img">
                                                                <img src="{% static "oc/arif.jpg" %}">
                                                            </div>
                                                        </div>
                                                        <div class="media-body">
                                                            <h2>Arif Khan</h2>                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                    <div class="mem_sec">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <div class="member_img">
                                                                    <img src="{% static "oc/furqan.jpg" %}">
                                                                </div>
                                                            </div>
                                                            <div class="media-body">
                                                                <h2>Furqan Ahmed</h2>                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="mem_sec">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <div class="member_img">
                                                                    <img src="{% static "oc/qaleem.jpg" %}">
                                                                </div>
                                                            </div>
                                                            <div class="media-body">
                                                                <h2>Mohammed Qaleem</h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</section><!--//END Organizing Committee -->

<!-- Coordinators -->
<section id="section4" class="content coordinators">
        <div class="container">
            <div class="main_heading center clearfix">
                <h2>Faculty</h2>
            </div>
    
            <div class="coordinator_main">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#IIC">International Faculty</a></li>
                    <li><a data-toggle="tab" href="#IRC">National Faculty</a></li>
                </ul>
    
                <div class="tab-content">
                    <div id="IIC" class="tab-pane fade in active">
                        <div class="row">
                            {% for each in interfac %}
                            {% if each.cv %}
                            <a href="{{each.cv.url}}">
                            {% else %}
                            <a href="#">
                            {% endif %}
                                <div class="col-md-4 col-sm-6">
                                    <div class="mem_sec">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="member_img">
                                                    {% if not each.image %}
                                                    <img src="{% static "img/national/user.png" %}">
                                                    {% else %}
                                                    <img src="{{each.image.url}}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h2>{{each.fname}} {{each.lname}}</h2>
                                                <p>{{each.country}}</p>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>                                          
                    </div>
                    <div id="IRC" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-4" style="border-right:1px solid teal;">
                                <h2 style="text-align: center; color: #008080; text-decoration: underline;" >Surgery</h2>
                                {% for each in surgery %}
                                    <p style="text-align: center;">{{each.fname}} {{each.lname}} ({{each.city}})</p>
                                {% endfor %}
                            </div>
                            <div class="col-md-4" style="border-right:1px solid teal;">
                                <h2 style="text-align: center; color: #008080; text-decoration: underline;" >Hepatology</h2>
                                {% for each in hepa %}
                                    <p style="text-align: center;">{{each.fname}} {{each.lname}} ({{each.city}})</p>
                                {% endfor %}                                
                                <p style="text-align: center;">Nalini Bansal (Pathology, Delhi)</p>
                                <p style="text-align: center;">Rahul Bhargava (Hematology, Delhi)</p>
                                <p style="text-align: center;">Nitesh Aggarwal (Radiology, Delhi)</p>                                
                            </div>
                            <div class="col-md-4" style="border-right:1px solid teal;">
                                <h2 style="text-align: center; color: #008080; text-decoration: underline;" >Anesthesia</h2>
                                {% for each in anes %}
                                    <p style="text-align: center;">{{each.fname}} {{each.lname}} ({{each.city}})</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </section><!--//END Coordinators -->

<!-- Scientific Programme -->
<section id="section5" class="content" style="background-image: url('/static/img/light_bg.jpg');background-size: cover">
        <div class="container">
            <div class="main_heading center clearfix">
                <h2>CONFERENCE HIGHLIGHTS</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul style="list-style: none; line-height: 35px;">
                        <li><strong>Eminent International and National Faculty</strong></li>
                        <li><strong>AILBS Oration :</strong> <span style="color:#008080">John Fung</span></li>
                        <li><strong>State of the Art Lectures by Pioneers:</strong><br /> <span style="color:#008080">Goran Klintmalm, Mohamed Rela, Abhinav Humar, Nancy Kwan MAN, Klaus Görlinger, Sanjeev Aneja</span></li>
                        <li><strong>Workshops</strong>
                            <ul style="list-style: disc; margin-left:50px;">
                                <li>Minimally Invasive Liver Surgery: <span style="color:#008080">KW Lee, Olivier Soubrane, Vivek Vij</span></li>
                                <li>SALT Workshop on ROTEM: <span style="color:#008080">Klaus Görlinger, Piyush Srivastava</span></li>
                            </ul></li>
                        <li><strong>Symposium: DDLT in India - Current Status</strong></li>
                        <li><strong>Documentary "Burden of Genius": Dr Starlz Journey into Organ Transplantation</strong></li>
                        <li><strong>Transplant Oncology: An evolving concept</strong></li>
                        <li><strong>Panel Discussion on Contentious Topics</strong></li>
                        <li><strong>HOTs in Liver Transplantation</strong></li>
                        <li><strong>Surgical Videos by Experts: How I Do It!</strong></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="{% static "conf.png" %}" class="img-responsive conf-image" />
                    <!-- <img src="{% static "conf2.png" %}" class="img-responsive conf-image" />
                    <img src="{% static "conf3.png" %}" class="img-responsive conf-image" />
                    <img src="{% static "conf4.png" %}" class="img-responsive conf-image" />
                    <img src="{% static "conf5.png" %}" class="img-responsive conf-image" /> -->
                </div>
            </div>            
        </div>
</section><!--//END Scientific Programme -->

<!-- Registration -->
<section id="section6" class="content">
        <div class="container">
    
            <div class="main_heading center clearfix">
                <h2>Registration</h2>
            </div>
    
            <div class="reg_main">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <!-- <thead>
                        <tr>
                            <td>
                                Registration
                                 Type
                            </td>
                            <td style="text-align: center;">
                            Early Bird<br />Before
                                 31st December 2018
                            </td>
                            <td style="text-align: center;">
                            Regular<br />From 1st January 2019 to
                                 14th February 2019 
                            </td>
                            <td>
                            Spot
                            </td>
                        </tr>
                        </thead> -->
                        <tbody>
                            <tr style="background-color:teal; color:white; font-weight: bold;">
                                <td style="text-align: center;"><b>Type of Registration</b></td>
                                <td style="text-align: center;">
                                Early Bird<br />Before
                                        31st December 2018
                                </td>
                                <td style="text-align: center;">
                                Regular<br />From 1st January 2019 to
                                        14th February 2019 
                                </td>
                                <td style="text-align: center;">
                                Spot
                                </td>
                            </tr>
                            <tr>
                                <td>Delegate</td>
                                <td>₹6,000</td>
                                <td>₹8,000</td>
                                <td>₹10,000</td>
                            </tr>
                            <tr>
                                <td>Accompanying Person (National)</td>
                                <td>₹4,000</td>
                                <td>₹6,000</td>
                                <td>₹8,000</td>
                            </tr>
                            <tr>
                                <td>Trainee (National)*</td>
                                <td>₹4,000</td>
                                <td>₹6,000</td>
                                <td>₹8,000</td>
                            </tr>                      
                            <tr>
                                <td>Delegate (International)</td>
                                <td>$100</td>
                                <td>$150</td>
                                <td>$200</td>
                            </tr>       
                            <tr>
                                <td>Accompanying Person (International)</td>
                                <td>$75</td>
                                <td>$100</td>
                                <td>$125</td>
                            </tr>       
                            <tr>
                                <td>Trainee (International)*</td>
                                <td>$75</td>
                                <td>$100</td>
                                <td>$125</td>
                            </tr>                                           
                            </tbody>
                    </table>
                </div>
    
                <div class="table_info">
                    <div class="media-body">
                        <p><i>*For Trainees either National/International (Fellow/Residents/Students etc.) a certificate of their trainee status is required from Head/Chairperson of the department.
                            </i></p>
                        <p><i>*All Fees are inclusive of GST</i></p>
                    </div>
                </div>
                
                <a href="{% url "registration:index" %}" class="register_btn">Register Now</a>

                <div class="table_info">
                    <div class="media-body">
                        <p><i>Registration for Anesthesia session's are complimentry. Registration fees can also be paid offline, by direct cash deposit or NEFT/RTGS/IMPS or Cheque/DD deposit to our bank account, mentioned below. Please email us at ailbs2019conference@gmail.com if doing payment by offline means, so that we are able to verify and process ontime.
                            </i></p>
                        <p><b>Beneficiary Name</b>: Healthy Liver Trust | <b>IFSC</b>: HDFC0004403 | <b>Account Number</b>: 50200031351959 | <b>Bank Name</b>: HDFC Bank | <b>Branch</b>: Maharani Bagh | <b>Branch Code</b>: 4403</p>
                    </div>
                </div>  

            </div>
        </div>
    </section><!--//END Registration -->

{% endblock content %}

{% block scripts %}
{% endblock scripts %}